/JiraWorkSpace.MAUI/.vs
/.vs

/JiraWorkSpace.MAUI/bin
/JiraWorkSpace.MAUI/obj

/JiraWorkSpace.CMD/bin
/JiraWorkSpace.CMD/obj

/JiraWorkSpace.Application/bin
/JiraWorkSpace.Application/obj

/JiraWorkSpace.Application.Contracts/bin
/JiraWorkSpace.Application.Contracts/obj

/JiraWorkSpace.Domain/bin
/JiraWorkSpace.Domain/obj

/JiraWorkSpace.Domain.Shared/bin
/JiraWorkSpace.Domain.Shared/obj