@page "/setup"

@using System.Text.Json;

<Form Model="@model"
      LabelColSpan="6"
      WrapperColSpan="12"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed">
    <FormItem Label="AD">
        <Input @bind-Value="@context.AD" />
    </FormItem>
    <FormItem Label="JiraApiUrl">
        <Input @bind-Value="@context.JiraApiUrl" />
    </FormItem>
    <FormItem WrapperColOffset="6" WrapperColSpan="12">
        <Button HtmlType="submit">
            Submit
        </Button>
    </FormItem>
</Form>

@code
{
    public class Model
    {
        public string AD { get; set; }
        public string JiraApiUrl { get; set; }
    }

    private Model model = new Model();

    private void OnFinish(EditContext editContext)
    {
        Console.WriteLine($"Success:{JsonSerializer.Serialize(model)}");
    }

    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(model)}");
    }
}